In [13]:
import requests as req
import json
import time
import pysnowball.selector as sel
import pandas as pd
import pysnowball as ball

In [14]:
token = "xq_a_token=b3669dba2f5aa440bdee32d6b891a46d5b2e6a6f;"
ball.set_token(token)

'xq_a_token=b3669dba2f5aa440bdee32d6b891a46d5b2e6a6f;'

In [15]:
years = ["2015","2016","2017","2018"]
month_day = "1231"

In [16]:
tables = {}
for year in years:
    print(year+"....")
    index_list = [{"roediluted.%s%s"%(year,month_day):"%s_%s"%(15,50)},#ROE
                  {"pettm":"%s_%s"%(0,50)},#PE
                  {"npay.%s%s"%(year,month_day):"%s_%s"%(20,300)},#净利润增长率
                  {"indcode": "S4101"}
                 ]
    dic = sel.select(size = 500,add_par=index_list)
    df = pd.DataFrame(dic["data"]["list"])
    df = df[["symbol","name"]]
    tables[year] = df
    time.sleep(2)

2015....
2016....
2017....
2018....

In [12]:
tables['2015']

     symbol  name
0  SZ002039  黔源电力
1  SZ000966  长源电力
2  SZ000899  赣能股份
3  SH600483  福能股份
4  SH600452  涪陵电力
5  SH600236  桂冠电力
6  SH600027  华电国际

In [5]:
df = pd.concat(tables,axis=0)

In [6]:
df = df[["symbol","name"]]

In [7]:
df

          symbol  name
2015 0  SZ002039  黔源电力
     1  SZ000966  长源电力
     2  SZ000899  赣能股份
     3  SH600483  福能股份
     4  SH600452  涪陵电力
     5  SH600236  桂冠电力
     6  SH600027  华电国际
2016 0  SZ002608  江苏国信
     1  SZ000531  穗恒运A
     2  SH600644  乐山电力
     3  SH600167  联美控股
2017 0  SZ003816  中国广核
     1  SH600452  涪陵电力
     2  SH600167  联美控股
2018 0  SH600995  文山电力
     1  SH600452  涪陵电力
     2  SH600167  联美控股